<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (typeof title === "undefined"){ %>
    <title>Workspotter</title>
    <% } else { %>
    <title><%= title %> - Workspotter</title>
    <% } %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
	</head>
	<body>
    <!-- Navbar Start-->

    <nav class="navbar fixed-top rounded-bottom mx-3 p-0 px-2">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="160" height="60" alt="">
      </a>
    </nav>
	  <!-- End of Navber -->
    <section class="page container rounded py-4">
