<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<form method="post">
	<p>
		会社名：<input type="text" name="" /><br>
		<input type="submit" value="変更" />　
	</p>
</form>