<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<form method="post">
	<p>
		会社名：<input type="text" name="" /><br>
		概要：<input type="text" name="" /><br>
		画像URL：<input type="text" name="" /><br>
		primaryRateId：<input type="number" name="" /><br>
		ParamA：<input type="number" name="" /><br>
		ParamB：<input type="number" name="" /><br>
		ParamC：<input type="number" name="" /><br>
		<input type="submit" value="変更" />　
	</p>
</form>