<% include _header %>
<div class="container">
  <h2>仕事登録</h2>
  <form method="post" action="/job_edit">
    <table class="table table-inverse form-tbl">
      <tr>
        <th>会社名<th>
        <td><input type="text" name="companyName" value="" /></td>
      </tr>
      <tr>
        <th>概要<th>
        <td><input type="text" name="description" value="" /></td>
      </tr>
      <tr>
        <th>画像URL<th>
        <td><input type="text" name="imageUrl" value="" /></td>
      </tr>
      <tr>
        <th>primaryRateId<th>
        <td><input type="number" name="primaryRateId" value="" /></td>
      </tr>
      <tr>
        <th>ParamA<th>
        <td><input type="number" name="paramA" value="" /></td>
      </tr>
      <tr>
        <th>ParamB<th>
        <td><input type="number" name="paramB" value="" /></td>
      </tr>
      <tr>
        <th>ParamC<th>
        <td><input type="number" name="paramC" value="" /></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-primary">追加</button>
  </form>
</div>
<% include _footer %>
