
<form method="post" action="CGIのURI">
	<p>
		仕事タイトル：<input type="text" name="" /><br>
		概要：<input type="text" name="" /><br>
		画像URL：<input type="text" name="" /><br>
		primaryRateId：<input type="text" name="" /><br>
		ParamA：<input type="text" name="" /><br>
		ParamB：<input type="text" name="" /><br>
		ParamC：<input type="text" name="" /><br>
		<input type="submit" value="送信" />　
		<input type="reset" value="取り消し" />
	</p>
</form>