<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
    body {
        margin: 0px;
    }

    .page {
        height: 100vh;
        overflow: scroll;
    }

    .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        padding: 30px;
        box-sizing: border-box;

        width: 100vw;
        height: auto;
        min-height: 100vh;

        background-size: cover;
        background-position: center;
        background-image: url(images/login_bg.jpg);
      }

      .msg_box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        padding: 30px;
        box-sizing: border-box;
        width: 100vw;
        position: absolute;
      }

    h2 {
        font-size: 50px;
        font-weight: 400;
        color: white;
        line-height: 2.5;
    }

    h3 {
        font-size: 20px;
        font-weight: 200;
        color: white;
        line-height: 2;
    }

    h4 {
        color: white;
    }

      .alert {
        width: 100%;
      }

      .panel-heading {
        margin-bottom: 20px;
    }
    </style>
</head>
<body>
    <div class="page">
      <% if (msg) { %>
        <div class="msg_box">
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        </div>
      <% } %>
      <div class="box">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h2>時給は実力で勝ち取れ。</h2>
              <h3>あなたのバイト生活をゲームのように。<br>暇な時間にバイトを入れて、レーティングシステムであなたに見合った時給を提案します。</h3>
            </div>
            <div class="col-sm-4">
              <div class="panel-heading">
                  <h4 class="panel-title">Workspotterにログイン</h4>
              </div>
              <div class="panel-body">
                <form class="panel-form" role="form" method="POST" action="/login">
                  <filedset>
                    <div class="form-group">
                      <input class ="form-control form-username" placeholder="Username" name="username" type="text">
                    </div>
                    <div class="form-group">
                      <input class="form-control form-pass" placeholder="Password" name="password" type="password" value="">
                    </div>
                    <div class="form-button">
                        <input class="btn btn-info btn-block" type="submit" value="ログイン">
                    </div>
                    <div class="panel-body" style="margin-top: 16px;">
                        <form class ="panel-form" role="form" method="GET" action="/login/register_user">
                            <filedset>
                                <div class="form-button">
                                    <input class="btn btn-primary btn-block" type="submit" value="初めての方はこちら">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<% include _footer %>

