html, body{
  height:100%;
}

body{
  padding-top: 90px;
	color: rgb(0, 20, 19);
  font-weight: 400;
  text-align: center;
  background-image: url(https://www.fastpic.jp/images.php?file=4922122921.jpg);
}

.navbar{
  background-color: rgba(158, 158, 158, 0.856);
}

.page{
  background-color: rgba(255, 255, 255, 0.774);
}

.tt-header-top{
	height: 2em;
	background-color: white;
	margin-bottom: 1px;
	margin-top: 1px;
}
.tt-header{
	height: 2em;
	background-color: white;
	margin-bottom: 1px;
	margin-top: 1px;
}
.tt-timeline{
	height: 2em;
	background-color: darkgray;
	padding: 0;
	position: relative;
	/*
	border-top: 0.5px solid white;
	border-bottom: 0.5px solid white;
	*/
	margin-bottom: 1px;
	margin-top: 1px;
}
.tt-freetime{
	height: 100%;
	background-color: Chartreuse;
	left: 0px;
	width: 10%;
	position: absolute;
}
.tt-jobs{
	height: 100%;
	background-color: rgba(0, 0, 255, 0.3);
	left: 0px;
	width: 10%;
	position: absolute;
}
.badge{
	margin-left: 0.5em;
	background-color: red;
	color: white;
}

table.info {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

table.form-tbl {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
table.form-tbl > tbody > tr > th {
    width: 20%;
}
table.form-tbl > tbody > tr > td {
    width: 80%;
}

.insert_btn {
    text-align: left;
}

.job-info {
    text-align: left;
    margin-top: 30px;
}

.apply_btn {
    margin-top: 20px;
}
